<div class="bg-indigo-900 p-4 rounded-lg shadow-lg max-w-lg mx-auto text-white text-center mt-32">
  <h1 class="font-black text-5xl text-center">2Getr</h1>
  <p class="text-lg leading-tight mt-4 font-light">Solutions for all.</p>
</div>
